* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f0e3;
}

div.actionStatus {
  text-align: center;
  padding: 0.6rem 1.5rem;
  width: 100%;
  max-width: fit-content;
}
.hides {
  height: 132px;
  background-color: #a3a3a380;
  /* opacity: 0.5; */
}
.card {
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}

.card:hover {
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.16);
  transform: translateY(-5px);
}
